[submodule "Desktop/HOHM Church Web App/Desktop/HOHM Church Web App/mercy-app"]
	path = Desktop/HOHM Church Web App/Desktop/HOHM Church Web App/mercy-app
	url = https://github.com/Tudzitek2/mercy-app.git
